.bg {
    background: url('https://image.freepik.com/free-vector/modern-black-friday-background-with-ink-effect_1017-15985.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
    color: #ffffff;
}

.filter {
    height: 100%;
    width: 100%;
    // background-color: rgba(0, 0, 0, 0.6);
}